body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    margin-bottom: 0.2em;
}

nav > ul > li > a {
    color: black;
    font-weight: bold;
    font-size: 1.4em;
}

@media (max-width: 1300px) {
    .secondaryWidget {
        display: flex;
        flex-direction: row;
    }
}

h1, h2, h3, h4, h5, h6, p, a, table, label, input, span {
    font-family: Inter;
}

h1 {
    font-size: 3em;
    width: 4em;
    font-weight: bold;
    margin: 0.2em 0 0 0.2em;
}

h1 > a {
    color: black;
    text-decoration: none;
}

.previousWeekSelection {
    cursor: pointer;
    display: none;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.buttonImg {
    cursor: pointer;
    padding: 0;
    margin: 0 0.3em 0 0;
    background: none;
    border: none;
}

/******************Widget******************/

.widgetHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.widget {
    background-color: #E3E3E3;
    border-radius: 25px;
    padding: 1em;
    margin: 0.5em;
}

.widgetTitle {
    margin: 0;
    font-weight: bold;
    font-size: 2em;
}

.secondaryWidget {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.BList {
    height: 100%;
}

.BList > div {
    display: flex;
    justify-content: space-between;
}

.third > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************Week Selection******************/

.weekTitleHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weekSelection {
    background-color: #F2F2F2;
    display: flex;
    width: fit-content;
    padding: 1em;
    border-radius: 15px;
}

.daySelection {
    padding: 0 1em;
    border-right: 1px black solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.daySelection:last-child {
    border-right: none;
}

.daySelection > p {
    text-align: center;
    margin: 0;
}

.day {
    position: relative;
    display: inline-block;
    margin: 0.2em 0;
    height: 3em;
    width: 4em;
    border-radius: 0.5em;
}

.info {
    position: absolute;
    z-index: 3;
    bottom: -222%; /*#290404 Faire en sorte que ca pop toujours en dessous de la case du repas (actuellement si la taille change la position de la boite d'info aussi)*/
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: rgb(162, 162, 162);
    color: black;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.ingredientList {
    margin: 0;
    list-style-type: none;
    padding-left: 0.5em;
}

.ingredientList > li::before {
    content: '- ';
}

.selected {
    background-color: #7AE47D;
}

.selectedRandomColor {

}

.notSelected {
    background-color: #B7B7B7;
}

/******************Custom checkbox******************/

/* Hide the default checkbox */
input[type="checkbox"] {
    display: none;
}

/* Create the custom checkbox */
.custom-checkbox {
    display: inline-block;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

/* Checkbox hover effect */
.custom-checkbox:hover {
    border-color: #888;
}

/* Style for the checkmark when checkbox is checked */
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #7AE47D; /* Change to any background color when checked */
    border: none;
}

/******************Graph******************/

.graphHolder {
    margin-top: 1em;
    height: 22em;
    padding: 0.5em;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.graphHolder > p {
    margin: 0;
}

/******************Buying list******************/

.buyingList {
    border-collapse: collapse;
}

.buyingList > thead > tr {
    border-bottom: 1px black solid;
}

.buyingList > tbody {
    height: 5em;
    overflow-y: auto;
}

.buyingList td {
    padding: 0.2em 0.5em;
}

.bordered {
    border-right: 1px black solid;
}

/******************LogIn&SignIn******************/

.logWidget {
    max-width: 75%;
    margin-top: 2em;
}

.logForm {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

.logForm > div { /*The label & inputHolder*/
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    background-color: white;
    box-shadow: black 0 0 0 0;
    padding: 0.5em;
    border-radius: 10px;
}

.inputHolder {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.inputHolder > input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
}

.logForm > input[type="submit"] {
    padding: 0.5em 0.2em;
    border: none;
    border-radius: 10px;
}

.logForm > input[type="submit"]:hover {
    background-color: darkgray;
}

.logSecondary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    border-top: 1px black solid;
    padding-top: 0.5em;
}

.logSecondaryLink:visited {
    color: black;
}

.logSecondaryLink > svg {
    width: 32px;
    height: 32px;
}

.goToInscriptionOrLog {
    text-align: right;
    margin-bottom: 0.1em;
}

/******************Fonts******************/

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/******************Animations******************/

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotate 0.5s ease-in-out;
}

/******************Mobile Style******************/

@media (max-width: 720px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .logWidget {
        margin-top: 2em;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    .secondaryWidget {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .weekSelection {
        overflow-y: scroll;
        max-width: 21.5em;
    }

    .main {
        max-width: 88%;
    }

    .day {
        height: 5em;
        width: 7em;
    }

    .daySelection > p {
        font-size: 1.5em;
    }

    .third {
        width: 100%;
    }
}
